extends _layouts/home

block head_end
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel="stylesheet" href="assets/css/style.css") 

block content
    include _partials/header

    section(class="about")
        div(class="wrapper")
            h1(class="about__title")= about_title
            p(class="about__text")= about_text

    section(class="portfolio")
        div(class="wrapper")
            h1(class="portfolio__title")= portfolio_title
            p(class="portfolio__text")= portfolio_text
        
    section(class="contact")
        div(class="wrapper")
            h1(class="contact__title")= contact_title
            p(class="contact__text")= contact_text
        
    include _partials/footer

block body_end
    script(type="text/javascript" src="assets/js/script.js")
