div(class="open")
    span(class="cls")
    span
        ul(class="sub-menu")
            li
                a(href="#about" title="about")= "Sobre / About"
            li
                a(href="#skills" title="skills")= "Habilidades / Skills"
            li
                a(href="#portfolio" title="jobs")= "Trabalhos / Jobs"
            li
                a(href="#contact" title="contact")= "Contato / Contact"
    span(class="cls")

header(class="header", role="banner")
    div(class="header__text")
        h1(class="header__text--title")= name
        p(class="header__text--subtitle")= welcome
        div(class="redes-sociais")
            ul(class="social")
                li(class="social__item")
                    a(href="facebook.com", class="social__item--link")
                        i(class="fa fa-facebook social__item--link--icon fa-lg", aria-hidden="true")
                li(class="social__item")
                    a(href="github.com", class="social__item--link")
                        i(class="fa fa-github social__item--link--icon fa-lg", aria-hidden="true")
                li(class="social__item")
                    a(href="linkedin.com", class="social__item--link")
                        i(class="fa fa-linkedin social__item--link--icon fa-lg", aria-hidden="true")
